# Functions of Pandas
* ```1. mean( )```
* ```2. median( )```
* ```3. min( )```
* ```4. max( )```
* ```5. apply( )```
* ```6. value_counts( )```
* ``` 7. sort_values( ) ```

In [5]:
import pandas as pd

In [6]:
iris = pd.read_csv('Iris.csv')

In [7]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## 1. Mean function 
* ``` It prints the mean of all columns as the output.```

In [12]:
iris.mean(numeric_only=True)

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

# 2. Median function
* ``` It prints the median of all columns as the output. ```

In [14]:
iris.median(numeric_only=True)

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

# 3. Min function( )
* ```It prints the minimum of all values of a column.```

In [15]:
iris.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

# 4. Max( ) function
* ``` It prints the maximum value of all columns. ```

In [16]:
iris.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

# 5. apply( ) function

In [19]:
# define a function named half so that it prints that half of the value
def half(s):
    return s * 0.5
iris[['SepalLengthCm', 'PetalLengthCm']].apply(half)

     SepalLengthCm  PetalLengthCm
0             2.55           0.70
1             2.45           0.70
2             2.35           0.65
3             2.30           0.75
4             2.50           0.70
..             ...            ...
145           3.35           2.60
146           3.15           2.50
147           3.25           2.60
148           3.10           2.70
149           2.95           2.55

[150 rows x 2 columns]

# 6. value_count (  ) function

In [20]:
# Select a particular column and get the count of each values present in the column
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [21]:
iris['SepalWidthCm'].value_counts()

3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: SepalWidthCm, dtype: int64

# 7. sort_values( ) 
* It sorts the values in an ascending order of  a particular column and group of columns specified.

In [22]:
iris.sort_values(by='SepalWidthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
16,17,5.4,3.9,1.3,0.4,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa

In [23]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica