# Lists
    ~~~ Lists are similar to tuples except that lists are mutable that is lists are mutable  ~~~
    ~~~ That is data in lists can be modified and altered ~~~
    ~~~ It is enclised within square braces [] ~~~

In [9]:
list_1 = [108, "Jaidhev", 3.14, 5+6j]

In [10]:
list_1

[108, 'Jaidhev', 3.14, (5+6j)]

In [11]:
type(list_1)

list

In [12]:
# Data in the list can be altered or  modified
list_1[2] = 3.142434

In [13]:
# Returns the modified list
list_1

[108, 'Jaidhev', 3.142434, (5+6j)]

In [14]:
# Append the data in a list 
list_1.append("data at the end")

In [16]:
list_1

[108, 'Jaidhev', 3.142434, (5+6j), 'data at the end']

In [18]:
list_1[2]

3.142434

In [20]:
# Printing the particular range of elemnts in a list
list_1[2:5]

[3.142434, (5+6j), 'data at the end']

In [21]:
#Remove the last element in a list
list_1.pop()

'data at the end'

In [22]:
# Now the list is 
list_1

[108, 'Jaidhev', 3.142434, (5+6j)]

In [25]:
#Reverse a list
list_1.reverse()
#Now the list is
list_1

[(5+6j), 3.142434, 'Jaidhev', 108]

In [26]:
#Reverse a list
list_1.reverse()
#Now the list is
list_1

[108, 'Jaidhev', 3.142434, (5+6j)]

In [29]:
# Insert an elemnt at a particular index
list_1.insert(1, "Hello")
list_1

[108, 'Hello', 'Jaidhev', 3.142434, (5+6j)]

In [2]:
list_2 = ["Jet", "Art", "Cat", "Ball", "Me"]

In [3]:
#Sort a list
list_2.sort()
list_2

['Art', 'Ball', 'Cat', 'Jet', 'Me']

In [4]:
# concatenating the lists

list_1 + list_2

NameError: name 'list_1' is not defined

In [5]:
# Repeating the elements in a list [TWICE]
list_2 * 2

['Art', 'Ball', 'Cat', 'Jet', 'Me', 'Art', 'Ball', 'Cat', 'Jet', 'Me']